body {
    display: flex;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

.panel {
    max-width: 95%;
    background-color: hsl(0,0%,100%);
}
.product-image{

    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.kicker {
    font-family: 'Monsterrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

.product-name {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
}

.product-description {
    font-family: 'Monsterrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.product-price-main {
    display: inline;
    font-family: 'Fraunces', sans-serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 2em;

}

.product-price-old {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    display: inline;
}

.btn-main {
    display: flex;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0,0%,100%);
    font-family: 'Monsterrat', sans-serif;
    padding: 1em;
}

@media (min-width: 1040px) {

    .panel {
        display: flex;
        flex-direction: row;
        max-width: 600px;
    }

    .product-image {
        width: 50%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 4px;

    }

    .detail-container {
        width: 50%;
    }
}