
.product-image-desktop {
    display: none;
}
body {
    display: flex;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

.panel {
    max-width: 95%;
    background-color: hsl(0,0%,100%);
    border-radius: 15px;
}

.detail-container {
    padding: 1em;
}
.product-image-mobile {

    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.kicker {
    font-family: 'Monsterrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    transform: translateX(-3px) scaleY(0.85);
    letter-spacing: 3px;
}

.product-name {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    line-height: 0.90;
}

.product-description {
    font-family: 'Monsterrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
}

.product-price-main {
    display: inline;
    font-family: 'Fraunces', sans-serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 2em;

}

.product-price-old {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    display: inline;
    line-height: 1.25;    
    vertical-align: super;
}

.btn-main {
    display: flex;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0,0%,100%);
    font-family: 'Monsterrat', sans-serif;
    font-weight: bold;
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
    
}

.btn-main:hover {
    background-color: hsl(212, 21%, 14%);
    cursor: pointer;
}

@media (min-width: 876px) {

    .product-image-mobile {
        display: none;
    }

    .product-image-desktop {
        display: block;
    }
    body {
        height: 100vh;
        align-items: center;
    }
    .panel {
        display: flex;
        flex-direction: row;
        max-width: 600px;
    }

    .product-image-desktop {
        width: 50%;
        border-top-left-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;

    }

    .detail-container {
        width: 50%;
        padding-top: auto;
        padding: 2em;
    }
}